
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/bin
/config
/var
/vendor
/.env
/.env.test
/composer.json
/composer.lock
/phpunit.xml.dist
/symfony.lock
/.idea
config
var
vendor
.env
.env.test
composer.json
composer.lock
phpunit.xml.dist
symfony.lock
.idea
bin
/templates/security/index.html.twig
