{% extends 'base.html.twig' %}



{% block body %}
    <main>
        <div id="container">
            <h1>Connexion</h1>


            <form action="{{ path('security_login') }}" method="post">
                <div  class="connexion">
                    <label>Adresse email :</label>
                </div>
                <div  class="connexion">
                    <input placeholder="Adresse email" required name="_username" type="text" class="form-control">
                </div>

                <div  class="connexion">
                    <label>Mot de passe :</label>
                </div>
                <div  class="connexion">
                    <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
                </div>

                <div  class="connexion">
                    <button type="submit"  >Connexion</button>
                </div>

            </form>
        </div>
    </main>
{% endblock %}